<?xml version="1.0"?>
<!--
/**
 * Tcategorystatus Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Technooze
 * @package    Tcategorystatus
 * @copyright  Copyright (c) 2014 dltr.org
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category   Technooze
 * @package    Tcategorystatus
 * @author     Damodar Bashyal @dbashyal
 */
-->
<config>
    <modules>
        <Technooze_Tcategorystatus>
            <version>0.0.2</version>
        </Technooze_Tcategorystatus>
    </modules>
    <global>
        <helpers>
            <tcategorystatus>
                <class>Technooze_Tcategorystatus_Helper</class>
            </tcategorystatus>
        </helpers>
        <models>
            <tcategorystatus>
                <class>Technooze_Tcategorystatus_Model</class>
            </tcategorystatus>
        </models>
        <resources>
            <tcategorystatus_setup>
                <setup>
                    <module>Technooze_Tcategorystatus</module>
                    <class>Technooze_Tcategorystatus_Model_Resource_Setup</class>
                </setup>
            </tcategorystatus_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <technooze_tcategorystatus before="Mage_Checkout_CartController">
                            Technooze_Tcategorystatus_CartController
                        </technooze_tcategorystatus>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <add_event>
                        <type>singleton</type>
                        <class>tcategorystatus/observer</class>
                        <method>addEvent</method>
                    </add_event>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_product_add_before>
                <observers>
                    <add_to_cart_before>
                        <type>singleton</type>
                        <class>tcategorystatus/observer</class>
                        <method>addToCartBefore</method>
                    </add_to_cart_before>
                </observers>
            </checkout_cart_product_add_before>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <change_category_status>
                <!-- run every midnight and 1am again just to make sure. -->
                <schedule><cron_expr>0 0,1 * * *</cron_expr></schedule>
                <run><model>tcategorystatus/cron::changeCategoryStatus</model></run>
            </change_category_status>
        </jobs>
    </crontab>
</config>